{% extends "base.html" %}
{% block content %}
<h1>Pick Your Options</h1>
<form action="/suites" method="GET">
  {% for optname, optval in options.items() %}
  <div>
    <input type="checkbox" name="options" value="{{ optval }}">
    {{ optname }}
  </div>
  {% endfor %}
{#
  <select multiple name="options">
    {% for opt in options.keys() %}
    <option value="{{ opt }}">
      {{ opt }}
    </option>
    {% endfor %}
  </select>
#}
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
